*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #094067;
  background-color: #fffffe;
  font-family: Optima, sans-serif;
}

body {
  width: 480px;
  margin: 0 auto;
}

h1 {
  padding: 20px 20px 30px;
  font-size: 16px;
  color: #fffffe;
  text-transform: uppercase;
  background-color:#90b4ce;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  letter-spacing: 2px;
  padding: 20px 0 0 0;
  font-weight: bold;
}

p{
 font-size: 16px; 
 font-weight: lighter;
  padding: 0 0 20px 0;
}

a{
    font-size: 12px; 
    color: #094067;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
   text-decoration: underline;
     color:#ef4565;
}

.main{
    display: grid;
    grid-template: repeat(3, 240px) / repeat(2, 240px);
    margin-bottom: 240px;
}
